<p id="notice"><%= notice %></p>

<p>
  <strong>References:</strong>
  <%= @form_type.references %>
</p>

<p>
  <strong>Number:</strong>
  <%= @form_type.number %>
</p>

<p>
  <strong>Form name:</strong>
  <%= @form_type.form_name %>
</p>

<%= link_to 'Back', form_types_path %>
